/* You can add global styles to this file, and also import other style files */
body {
  max-width: 1024px;
  margin: 3rem auto;
  font-family: "Open Sans", sans-serif;
  background-color: #F3F7FA;
}
