:host {
  display: flex;
  align-items: flex-start;
}

.filters-wrapper {
  margin: 1rem 0 1rem 1rem;
  background-color: #ffffff;
  box-shadow: 3px 3px 5px 3px rgba(100, 100, 100, .5);
}


@media all and (max-width: 768px) {
  :host {
    flex-direction: column;
  }
  .filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
  }
}
